@import url('https://fonts.googleapis.com/css2?family=Rubik+Storm&family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Añadido para incluir el padding y border en el width/height */
}

#imgLogo {
    margin: 15px;
    border-radius: 2vh;
    height: 15vh;
    transition: transform 0.3s ease-in-out;
}

#imgLogo:hover {
    transform: scale(1.1);
}

.buttonWhats {
    transition: transform 0.3s ease-in-out;
}

.buttonWhats:hover {
    transform: scale(1.1);
}

header,
nav {
    background: linear-gradient(135deg, #4a90e2, #2f80ed);
    padding: 20px;
}

body {
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    cursor: url('./img/puntero.svg'), auto;
}

#title {
    margin: 3vh;
}

.textHome {
    margin: 1.5vh;
}

h1 {
    margin: 15px;
    font-size: 3em;
    font-family: "Shrikhand", serif;
}

a {
    color: black;
    text-decoration: none;
}

/* Estilo para el efecto de zoom en las tarjetas */
.card {
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-icons a {
    margin: 10px;
}

/* iconos header */
.icon {
    width: 20px;
    margin-right: 5px;
}

/* Estilos para el buscador y categorías */

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buscador input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.buscador button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
}

/* Ajuste para la vista móvil */
@media (max-width: 767px) {
    .buscador {
        flex-direction: column;
        align-items: stretch;
    }

    .buscador input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .dropdown {
        margin-top: 20px; /* Espacio entre el buscador y el botón de categorías */
    }

    .dropdown-menu {
        width: 100%;
    }

    .dropdown-menu.show {
        position: static; /* Soluciona el problema de ocultamiento en dispositivos móviles */
        float: none;
    }
}

/* Estilos para la categoría en la vista de escritorio */
@media (min-width: 768px) {
    .col-md-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Alinear arriba */
        align-items: stretch; /* Ajustar a lo largo del eje principal */
        margin-top: 20px; /* Espacio entre el buscador y el botón de categorías */
    }

    .dropdown {
        width: 100%; /* Asegura que el botón ocupe todo el ancho */
    }
}
